@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
  max-inline-size: 1440px;
  padding-inline-end: 1rem;
  padding-inline-start: 1rem;
  margin: auto;
}

@layer components{
  html{
    @apply font-sans
  }
}